.car-details {
  padding-top: 110px;
  padding-bottom: 50px;
}
.car-details .car-images {
  margin-top: 20px;
}
.car-details .car-images img {
  height: auto;
}
.car-details .car-images .slick-slider {
  margin-bottom: 10px;
}
.car-details .car-images .car-slider-nav img {
  padding: 0 10px;
}
.car-details .car-images .slick-prev:before,
.car-details .car-images .slick-next:before {
  color: #000;
}
.car-details .section-title {
  text-transform: uppercase;
  margin: 20px 0;
}
.car-details .model-styles {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.car-details .model-styles .model-styles-item {
  -webkit-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  width: 33.33%;
  padding: 25px 25px;
  border: 1px solid #e6e6e6;
  margin: 0 5px;
  border-radius: 10px;
}
.car-details .model-styles .model-styles-item .available-cars {
  float: right;
  margin-top: -10px;
  margin-bottom: 10px;
  color: #333;
  font-weight: 300;
  font-size: 12px;
}
.car-details .model-styles .model-styles-item:nth-child(2n) {
  background-color: #f5f5f5;
}
.car-details .model-styles .model-styles-item h4 {
  font-size: 20px;
}
.car-details .model-styles .model-styles-item p {
  font-size: 12px;
}
.car-details .model-styles .model-styles-item .price {
  font-weight: bold;
  display: block;
  font-size: 16px;
}
.car-details .model-styles .model-styles-item .price span {
  font-weight: normal;
}
.car-details .model-styles .model-styles-item .more {
  display: block;
  margin: 0 -25px;
  padding: 0 25px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  color: #333;
  margin-top: 20px;
}
@media (max-width: 767px) {
  .car-details .model-styles {
    display: block;
  }
  .car-details .model-styles .model-styles-item {
    width: 100%;
    margin-bottom: 20px;
  }
}
.car-details .simillar-cars ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.car-details .simillar-cars ul li {
  float: left;
  width: 25%;
  padding: 15px 5px;
}
@media (max-width: 767px) {
  .car-details .simillar-cars ul li {
    width: 50%;
  }
}
.car-details .simillar-cars ul li .simillar-car-inner a {
  display: block;
  text-align: center;
  color: #000;
  padding-bottom: 10px;
  background-color: #ececec;
}
.car-details .simillar-cars ul li .simillar-car-inner a:hover {
  background-color: #27ae60;
  color: #fff;
  text-decoration: none;
}
.car-details .simillar-cars ul li .simillar-car-inner img {
  margin-bottom: 10px;
}
.car-details .simillar-cars ul li .simillar-car-inner p {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0;
  padding: 0 15px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.car-details .simillar-cars ul li .simillar-car-inner span {
  font-size: 12px;
  display: block;
  padding: 0 15px;
}
.car-details .simillar-cars ul li .simillar-car-inner span.price {
  font-size: 14px;
  font-weight: bold;
}
.car-details .car-features {
  padding: 15px 0;
}
@media (max-width: 767px) {
  .car-details .car-features {
    padding: 15px 0;
  }
}
.car-details .car-features h3 {
  margin-top: 0;
  border-bottom: 1px solid #cccccc;
  margin-bottom: 20px;
  padding-bottom: 5px;
}
.car-details .car-features .nav-tabs a {
  color: #000;
}
@media (max-width: 767px) {
  .car-details .car-features .nav-tabs a {
    font-size: 12px;
    padding: 8px;
  }
}
.car-details .car-features .tab-content {
  margin-top: 20px;
  padding: 0 15px;
}
@media (max-width: 767px) {
  .car-details .car-features .tab-content {
    padding: 0;
  }
  .car-details .car-features .tab-content p {
    font-size: 12px;
  }
}
.car-details .car-features .tab-content .table thead th {
  font-size: 20px;
  font-weight: 300;
}
.car-details .car-features .tab-content .table tbody td {
  font-size: 16px;
}
.car-details .car-features .tab-content .table tbody td:first-child {
  font-weight: bold;
  text-align: left;
}
.car-details .car-features .tab-content ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.car-details .car-features .tab-content ul > li {
  margin-bottom: 20px;
}
.car-details .car-features .tab-content ul > li p {
  font-size: 18px;
  text-transform: uppercase;
}
.car-details .car-features .tab-content ul > li ul li {
  float: left;
  width: 50%;
  font-size: 14px;
  margin-bottom: 5px;
  text-transform: uppercase;
  padding-left: 10px;
}
.car-details .car-features .tab-content ul > li ul li i {
  margin-right: 10px;
}
.car-details .car-features .tab-content ul > li ul li i.fa-check {
  color: #27ae60;
}
.car-details .car-features .tab-content ul > li ul li.disabled {
  color: #cccccc;
}
.car-details .car-description .car-description-inner {
  position: fixed;
  top: 130px;
  padding: 15px;
  border: 1px solid #cccccc;
  border-radius: 10px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .car-details .car-description .car-description-inner {
    position: static;
    margin-left: 0;
  }
}
.car-details .car-description .car-description-inner.sticky {
  top: 64px;
}
.car-details .car-description .table .price td:last-child {
  font-size: 25px;
  font-weight: bold;
}
.car-details .car-description .table tr:last-child td {
  border-top: 0;
}
.car-details .car-description .table tr td .btn {
  width: 100%;
  font-size: 16px;
}
.car-details .car-description .table tr td .btn.btn-cart {
  background-color: #27ae60;
  color: #fff;
  border: 0;
}
.car-details .car-description .table tr td .btn i {
  margin-right: 10px;
}
