.checkout-section {
  padding-top: 74px;
  padding-bottom: 100px;
}
.checkout-section .checkout-title {
  padding-top: 25px;
}
.checkout-section .checkout-title h1 {
  text-align: center;
  color: #333;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 40px;
  margin: 0;
}
@media (max-width: 767px) {
  .checkout-section .checkout-title h1 {
    font-size: 30px;
  }
}
.checkout-section .checkout-process {
  padding-top: 50px;
  margin-bottom: 50px;
}
@media (max-width: 767px) {
  .checkout-section .checkout-process {
    margin-bottom: 20px;
  }
}
.checkout-section .checkout-process .process-item {
  float: left;
  background-color: #ececec;
  position: relative;
  height: 80px;
}
@media (max-width: 767px) {
  .checkout-section .checkout-process .process-item {
    height: 40px;
  }
}
.checkout-section .checkout-process .process-item a {
  padding-left: 45px;
  padding-right: 15px;
  padding-top: 10px;
  display: block;
  height: 80px;
}
@media (max-width: 991px) {
  .checkout-section .checkout-process .process-item a {
    padding-left: 32px;
    padding-right: 10px;
  }
}
@media (max-width: 767px) {
  .checkout-section .checkout-process .process-item a {
    height: 40px;
    padding-left: 25px;
    padding-top: 5px;
    padding-right: 10px;
  }
}
.checkout-section .checkout-process .process-item a p {
  color: #505050;
  display: block;
  text-align: center;
  font-size: 20px;
  margin-bottom: 5px;
}
.checkout-section .checkout-process .process-item a:hover {
  text-decoration: none;
}
.checkout-section .checkout-process .process-item:first-child a {
  padding-left: 20px;
}
@media (max-width: 767px) {
  .checkout-section .checkout-process .process-item:first-child a {
    padding-left: 15px;
  }
}
.checkout-section .checkout-process .process-item:last-child .arrow.shadow {
  border-color: transparent transparent transparent #ececec;
}
.checkout-section .checkout-process .process-item .arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 40px 0 40px 30px;
  border-color: transparent transparent transparent #ececec;
  margin-left: 10px;
  position: absolute;
  top: 0;
  right: -29px;
  z-index: 100;
}
.checkout-section .checkout-process .process-item .arrow.shadow {
  right: -30px;
  border-color: transparent transparent transparent #b7b7b7;
  z-index: 90;
}
@media (max-width: 767px) {
  .checkout-section .checkout-process .process-item .arrow {
    border-width: 20px 0 20px 15px;
    right: -14px;
  }
  .checkout-section .checkout-process .process-item .arrow.shadow {
    right: -15px;
  }
}
.checkout-section .checkout-process .process-item span {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  color: #505050;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 991px) {
  .checkout-section .checkout-process .process-item span {
    font-size: 13px;
  }
}
@media (max-width: 767px) {
  .checkout-section .checkout-process .process-item span {
    display: none;
  }
}
.checkout-section .checkout-process .process-item.active,
.checkout-section .checkout-process .process-item:hover {
  background-color: #27ae60;
}
.checkout-section .checkout-process .process-item.active a p,
.checkout-section .checkout-process .process-item:hover a p {
  color: #fff;
}
.checkout-section .checkout-process .process-item.active span,
.checkout-section .checkout-process .process-item:hover span {
  color: #fff;
}
.checkout-section .checkout-process .process-item.active .arrow,
.checkout-section .checkout-process .process-item:hover .arrow {
  border-color: transparent transparent transparent #27ae60;
}
.checkout-section .checkout-process .process-item.active .arrow.shadow,
.checkout-section .checkout-process .process-item:hover .arrow.shadow {
  border-color: transparent transparent transparent #fff;
}
.checkout-section .checkout-process .process-item.disabled {
  background-color: #ececec !important;
  cursor: not-allowed;
}
.checkout-section .checkout-process .process-item.disabled span {
  color: #505050;
}
.checkout-section .checkout-process .process-item.disabled .arrow {
  border-color: transparent transparent transparent #ececec !important;
}
.checkout-section .checkout-process .process-item.disabled .arrow.shadow {
  border-color: transparent transparent transparent #b7b7b7 !important;
}
.checkout-section .checkout-process .process-item.disabled a {
  cursor: not-allowed;
}
.checkout-section .checkout-process .process-item.disabled a p {
  color: #505050;
}
.checkout-section .checkout-total {
  margin-top: 180px;
  width: 260px;
}
.checkout-section .checkout-total.fixed {
  position: fixed;
  top: 44px;
  margin-top: 0;
}
@media (max-width: 991px) {
  .checkout-section .checkout-total.fixed {
    position: static;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .checkout-section .checkout-total.fixed {
    position: static;
    width: 100%;
  }
}
.checkout-section .checkout-total .next-prev-btns {
  padding-top: 20px;
}
.checkout-section .checkout-total .next-prev-btns .btn {
  border-radius: 0;
  border: 0;
  font-size: 16px;
  text-align: center;
  width: 130px;
  padding: 10px 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #A5A5A5;
}
.checkout-section .checkout-total .next-prev-btns .btn.btn-next {
  float: right;
  background-color: #27AE60;
}
.checkout-section .checkout-total h3 {
  text-align: center;
  color: #505050;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 20px;
}
.checkout-section .checkout-total .checkout-total-inner {
  border: 1px solid #b7b7b7;
  border-radius: 5px;
  padding: 20px 15px;
}
.checkout-section .checkout-total .checkout-total-inner .product-img {
  margin-bottom: 15px;
}
.checkout-section .checkout-total .checkout-total-inner .product-img a {
  cursor: pointer;
  text-decoration: none !important;
}
.checkout-section .checkout-total .checkout-total-inner .product-img img {
  max-width: 70px;
  display: inline-block;
}
.checkout-section .checkout-total .checkout-total-inner .product-img .car-title {
  display: inline-block;
  max-width: calc(100% - 80px);
  vertical-align: top;
  margin-top: 0;
  color: #505050;
  padding-left: 15px;
  font-size: 14px;
}
.checkout-section .checkout-total .checkout-total-inner p {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #E4E4E4;
}
.checkout-section .checkout-total .checkout-total-inner p span {
  float: right;
  color: #27ae60;
  font-weight: 400;
  display: inline-block;
}
.checkout-section .checkout-total .checkout-total-inner .customized h5 {
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkout-section .checkout-total .checkout-total-inner .customized p {
  font-size: 13px;
}
.checkout-section .checkout-total .checkout-car-details {
  margin-top: 20px;
}
.checkout-section .checkout-total .checkout-car-details .car-title {
  text-align: center;
}
.checkout-section .checkout-total .checkout-car-details .specs {
  border: 1px solid #b7b7b7;
  border-top: 0;
  padding: 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.checkout-section .checkout-total .checkout-car-details .specs p {
  margin-bottom: 0;
  border-bottom: 1px solid #E4E4E4;
}
.checkout-section .checkout-total .checkout-car-details .specs p:last-child {
  border: 0;
}
.checkout-section .checkout-total .checkout-car-details .specs p span {
  float: right;
}
.checkout-section .mobile-title {
  text-transform: uppercase;
  font-size: 25px;
}
.checkout-section .checkout-inner h3 {
  text-align: center;
  color: #505050;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 20px;
  margin-top: 0;
  padding-top: 20px;
}
@media (max-width: 767px) {
  .checkout-section .checkout-inner h3 {
    display: none;
  }
}
.checkout-section .checkout-inner .checkout-car-details {
  padding-top: 10px;
}
.checkout-section .checkout-inner .checkout-car-details img {
  display: inline-block;
  max-width: 200px;
}
@media (max-width: 767px) {
  .checkout-section .checkout-inner .checkout-car-details img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    margin-bottom: 15px;
  }
}
.checkout-section .checkout-inner .checkout-car-details .car-title {
  font-weight: 300;
  padding-bottom: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  color: #505050;
  text-transform: uppercase;
  border-bottom: 1px solid #b7b7b7;
}
.checkout-section .checkout-inner .checkout-car-details .specs {
  display: inline-block;
  width: calc(100% - 220px);
  border-top: 0;
  padding: 0 15px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  vertical-align: top;
}
@media (max-width: 767px) {
  .checkout-section .checkout-inner .checkout-car-details .specs {
    width: 100%;
  }
}
.checkout-section .checkout-inner .checkout-car-details .specs p {
  margin-bottom: 5px;
  border-bottom: 1px solid #e4e4e4;
  padding-bottom: 5px;
  font-weight: 300;
  font-size: 16px;
}
.checkout-section .checkout-inner .checkout-car-details .specs p:last-child {
  border: 0;
}
.checkout-section .checkout-inner .checkout-car-details .specs p span {
  float: right;
}
.checkout-section .checkout-inner .next-prev-btns .btn {
  border-radius: 0;
  border: 0;
  font-size: 16px;
  text-align: center;
  width: 130px;
  padding: 10px 12px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  background-color: #A5A5A5;
}
.checkout-section .checkout-inner .next-prev-btns .btn.btn-next {
  float: right;
  background-color: #27AE60;
}
.checkout-section .checkout-inner .options {
  padding: 20px 30px;
  margin-bottom: 20px;
  border: 1px solid #b7b7b7;
  border-radius: 5px;
}
@media (max-width: 767px) {
  .checkout-section .checkout-inner .options {
    padding: 20px 15px;
  }
}
.checkout-section .checkout-inner .options h4 {
  color: #505050;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 300;
}
.checkout-section .checkout-inner .options .options-inner .delivery-options {
  display: none;
}
.checkout-section .checkout-inner .options .options-inner .delivery-options h4 {
  padding-top: 20px;
}
.checkout-section .checkout-inner .options .options-inner .delivery-options .form-control {
  box-shadow: none;
  margin-bottom: 15px;
}
.checkout-section .checkout-inner .options .options-inner .delivery-options .form-control:focus {
  border-color: #27AE60;
}
.checkout-section .checkout-inner .options .options-inner .radio {
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
}
.checkout-section .checkout-inner .options .options-inner .radio p {
  margin-top: 10px;
  color: #A2A2A2;
  font-weight: 300;
}
.checkout-section .checkout-inner .options .options-inner .radio label {
  line-height: 20px;
  display: block;
}
.checkout-section .checkout-inner .options .options-inner .radio label span {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}
.checkout-section .checkout-inner .options .options-inner .radio label .color {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  display: inline-block;
}
.checkout-section .checkout-inner .options .options-inner .radio label .price {
  float: right;
  color: #27ae60;
}
