.how-it-works {
  padding-top: 40px;
  padding-bottom: 60px;
}
.how-it-works h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 10px;
}
.how-it-works h4 {
  font-size: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.how-it-works p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 20px;
}
.how-it-works .steps {
  padding: 30px 30px;
  border-top: 1px solid #D8D8D8;
}
.how-it-works .steps h3 {
  font-size: 35px;
  color: #27ae60;
  text-align: center;
  margin-top: 0;
}
.how-it-works .steps p {
  height: 90px;
  font-size: 18px;
  text-align: center;
  border-bottom: 0;
}
.how-it-works .steps img {
  max-height: 300px;
  display: block;
  margin: 0 auto;
}
#home-banner {
  position: relative;
}
#home-banner .banner-image {
  height: 700px;
  background-size: cover;
  background-position: center bottom;
}
@media (max-width: 767px) {
  #home-banner .banner-image {
    height: 510px !important;
  }
}
#home-banner .banner-image h1 {
  margin-top: 0;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 65px;
  font-weight: bold;
  padding-top: 220px;
  width: 90%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #home-banner .banner-image h1 {
    width: 100%;
    font-size: 33px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
#home-banner .banner-image h3 {
  margin-top: 0;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 25px;
  padding: 0 100px;
  font-weight: bold;
  padding-top: 10px;
  width: 60%;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #home-banner .banner-image h3 {
    display: none;
  }
}
#home-banner .banner-image h2 {
  margin-top: 0;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  font-size: 45px;
  padding: 0 100px;
  font-weight: bold;
  padding-top: 10px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  #home-banner .banner-image h2 {
    padding: 0;
    font-size: 28px;
    margin-top: 30px;
  }
}
#home-banner #carShow {
  position: absolute;
  bottom: 10%;
  width: 100%;
}
#home-banner #carShow .carousel-inner .item img {
  margin: 0 auto;
}
#home-banner #carShow .carousel-inner .item a {
  display: block;
}
#home-banner #carShow .carousel-inner .item a p {
  margin-bottom: 0;
  margin-top: -10px;
  color: #fff;
  text-align: center;
}
#home-banner #carShow .carousel-control {
  background: transparent;
}
#home-banner .home-search {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 56%;
  margin-top: -85px;
}
@media (max-width: 767px) {
  #home-banner .home-search {
    width: 80%;
    left: 10%;
  }
}
#home-banner .home-search .form-group {
  width: 80%;
  float: left;
  margin-bottom: 0;
}
#home-banner .home-search .form-group input {
  height: 50px;
  line-height: 38px;
  border-radius: 0;
  font-size: 16px;
  border: 0;
  color: #000;
  -webkit-transition: all .3s;
  /* Safari */
  transition: all .3s;
  background-color: rgba(255, 255, 255, 0.8);
  /* Firefox 19+ */
  /* Firefox 18- */
}
@media (max-width: 767px) {
  #home-banner .home-search .form-group input {
    font-size: 12px;
  }
}
#home-banner .home-search .form-group input:focus {
  outline: none;
  box-shadow: none;
  background-color: #fff;
}
#home-banner .home-search .form-group input::-webkit-input-placeholder {
  color: #000;
}
#home-banner .home-search .form-group input::-moz-placeholder {
  color: #000;
}
#home-banner .home-search .form-group input:-moz-placeholder {
  color: #000;
}
#home-banner .home-search .form-group input:-ms-input-placeholder {
  color: #000;
}
#home-banner .home-search button {
  width: 20%;
  height: 50px;
  line-height: 50px;
  padding: 0;
  font-size: 16px;
  text-align: center;
  border-radius: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: all .3s;
  /* Safari */
  transition: all .3s;
  color: #fff;
}
#home-banner .home-search button:hover {
  background-color: #27ae60;
}
#home-banner .home-search .details-button {
  text-align: center;
  padding: 20px 0;
}
#home-banner .home-search .details-button .btn {
  background-color: #27ae60;
  color: #fff;
  font-size: 16px;
  width: auto;
  padding: 10 20px;
  border: 0;
  background: #27ae60;
  background-image: -webkit-linear-gradient(top, #27ae60, #229150);
  background-image: -moz-linear-gradient(top, #27ae60, #229150);
  background-image: -ms-linear-gradient(top, #27ae60, #229150);
  background-image: -o-linear-gradient(top, #27ae60, #229150);
  background-image: linear-gradient(to bottom, #27ae60, #229150);
}
@media (max-width: 767px) {
  #home-banner .home-search .details-button .btn {
    font-size: 13px;
    padding: 0px 7px;
    height: 45px;
    line-height: 45px;
  }
}
#home-banner .home-search .details-button .btn:hover {
  background-color: #1e8449;
}
