.option-filters {
  background-color: #fff;
  padding-top: 10px;
}
.option-filters .car-results {
  margin-top: 50px;
}
.option-filters .car-results .left-filters {
  background-color: #fff;
  padding-top: 40px;
}
.option-filters .car-results .left-filters .filters-heading {
  position: relative;
}
.option-filters .car-results .left-filters .filters-heading .refine-all {
  font-size: 12px;
  position: absolute;
  right: -10px;
  top: 0;
  background-color: #27ae60;
  color: #fff;
  display: block;
  padding: 3px 5px;
  cursor: pointer;
}
.option-filters .car-results .left-filters .filters-heading .refine-all:hover {
  background-color: #1e8449;
}
@media (max-width: 767px) {
  .option-filters .car-results .left-filters .filters-heading {
    margin-top: 0;
  }
  .option-filters .car-results .left-filters .filters-heading .refine-all {
    right: 40px;
  }
}
.option-filters .car-results .left-filters .close-left-nav {
  font-size: 30px;
  position: absolute;
  right: 10px;
  top: 7px;
  display: none;
}
.option-filters .car-results .left-filters .left-nav-toggle {
  position: absolute;
  left: -46px;
  top: 45%;
  color: #000;
  background-color: #27ae60;
  color: #fff;
  font-size: 16px;
  padding: 3px 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  cursor: pointer;
  display: none;
}
@media (max-width: 767px) {
  .option-filters .car-results .left-filters {
    position: fixed;
    background: #fff;
    z-index: 100800;
    width: 100%;
    top: 0;
    right: -100%;
    border-right: 2px solid #333;
    height: 100%;
    -webkit-transition: all .5s;
    /* Safari */
    transition: all .5s;
    padding-top: 15px;
    padding: 15px 25px;
  }
  .option-filters .car-results .left-filters .close-left-nav {
    display: block;
    cursor: pointer;
  }
  .option-filters .car-results .left-filters .left-nav-toggle {
    display: block;
  }
  .option-filters .car-results .left-filters.open {
    right: 0;
    overflow: scroll;
    border: 0;
  }
}
.option-filters .car-results .left-filters.fixed {
  position: fixed;
  top: 44px;
  height: 90%;
  overflow-y: scroll;
  width: 195px;
  padding: 0 15px;
  padding-top: 60px;
  margin-left: -15px;
}
.option-filters .car-results .left-filters .filter-inner label {
  font-size: 14px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .option-filters .car-results .left-filters .filter-inner label {
    font-size: 13px;
  }
}
.option-filters .car-results .left-filters .filter-inner .checkbox,
.option-filters .car-results .left-filters .filter-inner .radio {
  margin-bottom: 5px;
  margin-top: 5px;
}
.option-filters .car-results .left-filters .filter-inner .checkbox label,
.option-filters .car-results .left-filters .filter-inner .radio label {
  display: block;
}
.option-filters .car-results .left-filters .filter-inner .checkbox .average-cost,
.option-filters .car-results .left-filters .filter-inner .radio .average-cost {
  position: absolute;
  top: 0;
  right: 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .option-filters .car-results .left-filters .filter-inner .checkbox .average-cost,
  .option-filters .car-results .left-filters .filter-inner .radio .average-cost {
    font-size: 13px;
  }
}
.option-filters .car-results .left-filters .filter-inner .checkbox:hover,
.option-filters .car-results .left-filters .filter-inner .radio:hover {
  color: #27ae60;
}
.option-filters .car-results .left-filters .filter-inner .filter-title {
  display: block;
  padding: 10px 15px;
  margin: 0 -15px;
  position: relative;
  font-weight: bold;
  cursor: pointer;
  color: #444444;
  font-size: 14px;
  border-top: 1px solid #afafaf;
}
.option-filters .car-results .left-filters .filter-inner .filter-title .fa {
  position: absolute;
  top: 13px;
  right: 15px;
}
.option-filters .car-results .left-filters .filter-inner .filter-title.open .fa-plus {
  display: block;
}
.option-filters .car-results .left-filters .filter-inner .filter-title.open .fa-minus {
  display: none;
}
.option-filters .car-results .left-filters .filter-inner .filter-items {
  padding: 20px 0;
  padding-top: 10px;
}
.option-filters .car-results .left-filters .filter-inner .filter-items.amount .irs-from:before,
.option-filters .car-results .left-filters .filter-inner .filter-items.amount .irs-to:before,
.option-filters .car-results .left-filters .filter-inner .filter-items.amount .irs-single:before {
  content: "$";
}
.option-filters .car-results .left-filters .filter-inner .filter-items a {
  color: #27ae60;
}
.option-filters .car-results .left-filters .filter-inner .filter-items .more-items {
  display: none;
}
.option-filters .car-results .left-filters .filter-inner .filter-items .btn-more {
  background-color: #ececec;
  font-size: 14px;
  margin-top: 10px;
  color: #000;
}
.option-filters .car-results .left-filters .filter-inner .filter-items .btn-more .less {
  display: none;
}
.option-filters .car-results .left-filters .filter-inner .filter-items .btn-more:hover {
  background-color: #d3d3d3;
}
.option-filters .car-results .left-filters .filter-inner .filter-items .btn-more.open span {
  display: none;
}
.option-filters .car-results .left-filters .filter-inner .filter-items .btn-more.open .less {
  display: block;
}
.option-filters .car-results .left-filters .filter-inner .range-selector {
  margin-bottom: 20px;
  margin-top: 10px;
}
.option-filters .car-results .left-filters .filter-inner .filter-subtitle {
  display: block;
  margin-top: 30px;
  margin-bottom: 15px;
  font-weight: bold;
}
.option-filters .car-results .car-result-inner {
  padding: 0 30px;
}
.option-filters .car-results .car-result-inner .pagination-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}
.option-filters .car-results .car-result-inner .pagination-wrapper .pagination {
  margin: 0;
  margin-top: 8px;
  float: right;
}
@media (max-width: 991px) {
  .option-filters .car-results .car-result-inner .pagination-wrapper .pagination {
    margin: 20px 0;
  }
}
.option-filters .car-results .car-result-inner .pagination-wrapper .pagination a {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #fff;
  color: #27ae60;
  border: 1px solid #27ae60;
  margin: 0 2px;
}
.option-filters .car-results .car-result-inner .pagination-wrapper .pagination a.active {
  background-color: #27ae60;
  color: #fff;
  border: 1px solid #27ae60;
}
@media (max-width: 767px) {
  .option-filters .car-results .car-result-inner .pagination-wrapper .pagination {
    float: none;
  }
  .option-filters .car-results .car-result-inner .pagination-wrapper .pagination a {
    margin: 0;
    font-size: 12px;
  }
}
.option-filters .car-results .car-result-inner .pagination-wrapper .sorting {
  display: inline-block;
  vertical-align: bottom;
  float: left;
}
.option-filters .car-results .car-result-inner .pagination-wrapper .sorting ul {
  list-style: none;
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #ececec;
}
.option-filters .car-results .car-result-inner .pagination-wrapper .sorting ul li {
  float: left;
  margin: 0 5px;
}
.option-filters .car-results .car-result-inner .pagination-wrapper .sorting ul li.active a {
  text-decoration: none;
  color: #27ae60;
  border-bottom: 2px solid #27ae60;
  margin-bottom: -2px;
  font-weight: bold;
}
.option-filters .car-results .car-result-inner .pagination-wrapper .sorting ul li a {
  display: block;
  color: #444;
  padding: 5px 10px;
}
.option-filters .car-results .car-result-inner .pagination-wrapper .sorting ul li a:hover {
  text-decoration: none;
  color: #27ae60;
  border-bottom: 2px solid #27ae60;
  margin-bottom: -2px;
}
.option-filters .car-results .car-result-inner .cars-found-sort-by .found-result {
  margin: 0;
  display: inline-block;
}
.option-filters .car-results .car-result-inner .cars-found-sort-by .grid-change {
  float: right;
  font-size: 28px;
  color: #505050;
  margin-left: 10px;
}
.option-filters .car-results .car-result-inner .cars-found-sort-by .page-limit {
  float: right;
  margin-top: 10px;
}
.option-filters .car-results .car-result-inner .cars-found-sort-by .page-limit .select2-container {
  width: 60px !important;
}
.option-filters .car-results .car-result-inner .cars-found-sort-by .page-limit > span {
  margin-right: 10px;
}
@media (max-width: 767px) {
  .option-filters .car-results .car-result-inner .cars-found-sort-by .page-limit {
    display: none;
  }
}
.option-filters .car-results .car-result-inner .car-item {
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 10px;
  border: 1px solid #c7c7c7;
  -webkit-transition: all .5s;
  /* Safari */
  transition: all .5s;
}
.option-filters .car-results .car-result-inner .car-item .table-responsive {
  border: 0 !important;
}
.option-filters .car-results .car-result-inner .car-item.car-row {
  margin-bottom: 15px;
}
.option-filters .car-results .car-result-inner .car-item.car-row .title {
  height: auto;
  overflow: visible;
  margin-bottom: 0;
}
.option-filters .car-results .car-result-inner .car-item.car-row .car-price {
  text-align: right;
}
.option-filters .car-results .car-result-inner .car-item.car-row .car-price label {
  margin-bottom: 0;
}
.option-filters .car-results .car-result-inner .car-item.car-row .car-price p {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0;
}
.option-filters .car-results .car-result-inner .car-item.car-row .car-price span {
  display: block;
  font-size: 12px;
}
.option-filters .car-results .car-result-inner .car-item.car-row .compare-check {
  text-align: right;
  margin-bottom: 15px;
  margin-top: -20px;
}
.option-filters .car-results .car-result-inner .car-item.car-row .car-buttons {
  margin-top: 10px;
}
.option-filters .car-results .car-result-inner .car-item:hover,
.option-filters .car-results .car-result-inner .car-item.checkToCompare {
  -webkit-box-shadow: 0px 0px 5px 1px #878787;
  -moz-box-shadow: 0px 0px 5px 1px #878787;
  box-shadow: 0px 0px 5px 1px #878787;
}
.option-filters .car-results .car-result-inner .car-item a {
  color: #000;
}
.option-filters .car-results .car-result-inner .car-item a:hover {
  text-decoration: none;
}
.option-filters .car-results .car-result-inner .car-item .compare-check {
  text-align: center;
}
.option-filters .car-results .car-result-inner .car-item .car-buttons {
  text-align: center;
}
.option-filters .car-results .car-result-inner .car-item .car-buttons .btn {
  font-size: 14px;
  display: inline;
  margin-top: 0;
  width: 49%;
  background-color: #E4E4E4;
  color: #000;
}
.option-filters .car-results .car-result-inner .car-item .car-buttons .btn:hover {
  background-color: #d7d7d7;
}
.option-filters .car-results .car-result-inner .car-item .car-buttons .btn.cart-button {
  background-color: #27ae60;
  color: #fff;
}
.option-filters .car-results .car-result-inner .car-item .car-buttons .btn.cart-button:hover {
  background-color: #1e8449;
}
.option-filters .car-results .car-result-inner .car-item .compare {
  float: right;
  cursor: pointer;
  margin-bottom: 10px;
}
.option-filters .car-results .car-result-inner .car-item .compare .fa {
  display: none;
  margin-right: 10px;
}
.option-filters .car-results .car-result-inner .car-item .compare .check {
  display: none;
}
.option-filters .car-results .car-result-inner .car-item .compare.checked {
  color: #27ae60;
}
.option-filters .car-results .car-result-inner .car-item .compare.checked .fa {
  display: inline;
}
.option-filters .car-results .car-result-inner .car-item .compare.checked .check {
  display: inline;
}
.option-filters .car-results .car-result-inner .car-item .compare.checked .uncheck {
  display: none;
}
.option-filters .car-results .car-result-inner .car-item .title {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 20px;
  height: 44px;
  overflow: hidden;
}
.option-filters .car-results .car-result-inner .car-item img {
  width: 100%;
}
.option-filters .car-results .car-result-inner .car-item .table {
  margin-bottom: 0;
  margin-top: 15px;
}
.option-filters .car-results .car-result-inner .car-item .table tr td {
  font-size: 12px;
  padding: 5px;
  border-top: 1px solid #C3C3C3;
}
.option-filters .car-results .car-result-inner .car-item .table tr td:first-child {
  font-weight: bold;
}
.option-filters .car-results .car-result-inner .car-item .table tr td:last-child {
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 125px;
  overflow: hidden;
}
.option-filters .car-results .car-result-inner .car-item .table tr td.big-price {
  text-overflow: clip;
  white-space: normal;
  max-width: auto;
}
.option-filters .car-results .car-result-inner .car-item .table tr td.big-price span {
  font-size: 20px;
  font-weight: bold;
}
.option-filters .car-results .car-result-inner .car-item .table tr td.big-price p {
  font-size: 12px;
}
.option-filters.results {
  padding-bottom: 80px;
}
.option-filters.results h5 {
  text-align: center;
  font-size: 18px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.option-filters .other-filters {
  padding-top: 40px;
}
.option-filters .select2-container {
  width: 100% !important;
}
.option-filters .select2-container .select2-selection--multiple {
  min-height: 50px;
}
.option-filters .select2-container .select2-selection--multiple .select2-selection__choice {
  font-size: 18px;
  line-height: 36px;
  height: 38px;
  padding: 0 10px;
  color: #fff;
  background-color: #27ae60;
  border: 0;
}
.option-filters .select2-container .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff;
  margin-right: 6px;
}
.option-filters .select2-container .select2-search--inline .select2-search__field {
  margin-top: 0;
  line-height: 48px;
  height: 48px;
  font-size: 25px;
}
.option-filters .btn-default {
  background-color: #27ae60;
  border: 0;
  border-radius: 4px;
  font-size: 24px;
  color: #fff;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
}
.option-filters .first-filter {
  padding: 30px 0;
  display: none;
}

rzslider .rz-bubble {
  color: #FFFFFF;
  background-color: rgb(38, 166, 92);
  margin-bottom: 5px;
}

rzslider .rz-bubble.rz-limit {
  color: #000000;
  background-color: transparent;
}
