.option-select-boxes {
  padding-top: 74px;
}
.option-select-boxes h4 {
  text-align: center;
  margin-top: 0;
  padding-top: 40px;
  font-size: 35px;
}
.option-select-boxes h3 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 30px;
  margin-top: 40px;
}
.option-select-boxes p {
  font-size: 18px;
  text-align: center;
}
.option-select-boxes.no-padding {
  padding-top: 0;
}
.option-select-boxes .btn-search {
  color: #fff;
  font-size: 22px;
  border: 0;
  padding: 11px 40px;
  border-radius: 0;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 30px;
  display: block;
  width: 100%;
  word-spacing: 2px;
  background: #27ae60;
  background-image: -webkit-linear-gradient(top, #27ae60, #229150);
  background-image: -moz-linear-gradient(top, #27ae60, #229150);
  background-image: -ms-linear-gradient(top, #27ae60, #229150);
  background-image: -o-linear-gradient(top, #27ae60, #229150);
  background-image: linear-gradient(to bottom, #27ae60, #229150);
}
.option-select-boxes .btn-search i {
  margin-right: 10px;
}
.option-select-boxes .btn-search:hover {
  background: #229150;
  background-image: -webkit-linear-gradient(top, #229150, #1e8449);
  background-image: -moz-linear-gradient(top, #229150, #1e8449);
  background-image: -ms-linear-gradient(top, #229150, #1e8449);
  background-image: -o-linear-gradient(top, #229150, #1e8449);
  background-image: linear-gradient(to bottom, #229150, #1e8449);
}
.option-select-boxes .option-box {
  height: 300px;
  float: left;
  width: 50%;
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  overflow: hidden;
}
.option-select-boxes .option-box.homepage {
  width: 100%;
  height: auto;
}
.option-select-boxes .option-box.homepage h2 {
  color: #333;
}
.option-select-boxes .option-box.homepage h4 {
  padding-top: 0;
}
.option-select-boxes .option-box.homepage .option-box-inner {
  position: static;
  height: auto;
  padding-top: 40px;
  background-color: #f3f3f3;
}
.option-select-boxes .option-box .btn-car-list {
  background-color: transparent;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  border: 0;
  border-radius: 5px;
  padding: 6px 15px;
  display: block;
  text-align: center;
  margin: 0 auto;
  width: auto;
}
@media (max-width: 767px) {
  .option-select-boxes .option-box .btn-car-list {
    font-size: 16px;
  }
}
.option-select-boxes .option-box .btn-car-list:hover,
.option-select-boxes .option-box .btn-car-list:focus {
  color: #fff;
}
.option-select-boxes .option-box .bottom-margin {
  margin-bottom: 5px;
}
.option-select-boxes .option-box .irs-from,
.option-select-boxes .option-box .irs-to,
.option-select-boxes .option-box .irs-single {
  background-color: #27ae60 !important;
  font-size: 16px !important;
  top: -5px !important;
}
.option-select-boxes .option-box .irs-from:before,
.option-select-boxes .option-box .irs-to:before,
.option-select-boxes .option-box .irs-single:before {
  content: "$";
}
.option-select-boxes .option-box .irs-bar {
  border-top: 1px solid #27AE60;
  border-bottom: 1px solid #27AE60;
  background: #27AE60;
  background: linear-gradient(to top, #27ae60 0%, #229451 100%);
}
.option-select-boxes .option-box .irs-min,
.option-select-boxes .option-box .irs-max {
  color: #fff;
}
.option-select-boxes .option-box .slider-container .back-bar .pointer-label {
  color: #fff !important;
}
.option-select-boxes .option-box .option-box-inner {
  padding: 0 10%;
  padding-top: 80px;
  position: absolute;
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  -webkit-transition: all .7s;
  transition: all .7s;
}
.option-select-boxes .option-box .option-box-inner.car-select {
  padding: 0;
}
.option-select-boxes .option-box .option-box-inner.car-select h2 {
  margin: 0;
}
.option-select-boxes .option-box .option-box-inner.car-select h2 .btn-car-list {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
}
.option-select-boxes .option-box .option-box-inner.car-select h2 .btn-car-list .btn-default {
  background-image: -webkit-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -moz-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -ms-linear-gradient(top, #ffffff, #ebebeb);
  background-image: -o-linear-gradient(top, #ffffff, #ebebeb);
  background-image: linear-gradient(to bottom, #ffffff, #ebebeb);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #1a1a1a;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.option-select-boxes .option-box .option-box-inner.car-select h2 .btn-car-list .btn-default:hover {
  background: #ebebeb;
  background-image: -webkit-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -moz-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -ms-linear-gradient(top, #ebebeb, #ffffff);
  background-image: -o-linear-gradient(top, #ebebeb, #ffffff);
  background-image: linear-gradient(to bottom, #ebebeb, #ffffff);
  text-decoration: none;
}
.option-select-boxes .option-box .option-box-inner p {
  color: #fff;
  font-size: 20px;
  margin-bottom: 20px;
}
.option-select-boxes .option-box .option-box-inner.amount .slider-container .back-bar .pointer-label:before {
  content: '$';
}
.option-select-boxes .option-box .option-box-inner .slider-container {
  margin-top: 50px;
}
.option-select-boxes .option-box .option-box-inner .slider-container .back-bar {
  height: 10px !important;
  border-radius: 5px;
}
.option-select-boxes .option-box .option-box-inner .slider-container .back-bar .pointer-label {
  font-size: 18px !important;
  top: -43px !important;
  padding: 5px;
  border: 1px solid #fff;
  border-radius: 4px;
}
.option-select-boxes .option-box .option-box-inner .slider-container .back-bar .pointer-label.high {
  left: 55% !important;
}
.option-select-boxes .option-box .option-box-inner .slider-container .back-bar .pointer-label.low {
  left: 35% !important;
}
@media (max-width: 767px) {
  .option-select-boxes .option-box .option-box-inner .slider-container .back-bar .pointer-label.low {
    left: 25% !important;
  }
}
.option-select-boxes .option-box .option-box-inner .slider-container .scale {
  top: 4px;
}
.option-select-boxes .option-box .option-box-inner .slider-container .pointer {
  cursor: pointer !important;
  width: 25px !important;
  height: 25px !important;
  top: -8px !important;
  border-radius: 100%;
}
.option-select-boxes .option-box h2 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .option-select-boxes .option-box {
    width: 100%;
    height: 214px !important;
  }
  .option-select-boxes .option-box .option-box-inner {
    padding-top: 30px;
  }
  .option-select-boxes .option-box h2 {
    font-size: 16px;
  }
}
