<div class="page-wrap">
  <div class="nav-overlay">
  </div>
  <header class="inside-page">
    <div class="black-line"></div>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-top" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <span class="left-navbar-toggle">
                <i class="fa fa-list"></i>
            </span>
            <a class="navbar-brand text-center" href="#/">
              <img src="./images/logo-name.png">
              <p>Making Better Choices..</p>
            </a>
          </div>
          <div class="collapse navbar-collapse clearfix" id="navbar-collapse-top">
            <ul class="nav navbar-nav navbar-right">
              <li class="search-bar">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Search Models or Brands">
                  <span class="input-group-addon"><i class="fa fa-search"></i></span>
                  <ul class="search-suggestions">
                    <li><a href="#/">BMW</a></li>
                    <li><a href="#/">Buick</a></li>
                    <li><a href="#/">Mitsubishi</a></li>
                    <li><a href="#/">Subaru</a></li>
                    <li><a href="#/">Honda</a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown upper">
                <a href="#/" class="dropdown-toggle" ng-click="dropdownCarType()" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Car Types <span class="caret"></span></a>
                <div class="dropdown-menu" ng-if="showDropdownCarType">
                  <div class="">
                    <div class="col-sm-3 five-row">
                      <h3><a href="#/">SUV</a></h3>
                      <img class="img-responsive" src="./images/minivan.jpg" alt="">
                      <ul>
                        <li><a href="#/">Action</a></li>
                        <li><a href="#/">Another action</a></li>
                        <li><a href="#/">Something else here</a></li>
                        <li><a href="#/">Separated link</a></li>
                        <li><a href="#/">One more link</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 five-row">
                      <h3><a href="#/">Minivan</a></h3>
                      <img class="img-responsive" src="./images/minivan.jpg" alt="">
                      <ul>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more link</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 five-row">
                      <h3><a href="#">Mid Size</a></h3>
                      <img class="img-responsive" src="./images/minivan.jpg" alt="">
                      <ul>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more link</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 five-row">
                      <h3><a href="#">Luxuay</a></h3>
                      <img class="img-responsive" src="./images/minivan.jpg" alt="">
                      <ul>
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li><a href="#">Separated link</a></li>
                        <li><a href="#">One more link</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 five-row last">
                      <h3><a href="#/">Sport</a></h3>
                      <img class="img-responsive" src="./images/minivan.jpg" alt="">
                      <ul>
                        <li><a href="#/">Action</a></li>
                        <li><a href="#/">Another action</a></li>
                        <li><a href="#/">Something else here</a></li>
                        <li><a href="#/">Separated link</a></li>
                        <li><a href="#/">One more link</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li><a href="#/">How It Works</a></li>
              <li><a href="#/">Saving Money Tips</a></li>
              <li><a href="#/">FAQ's</a></li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </div>
  </header>
  <section class="main-wrapper">
    <section class="option-select-boxes clearfix">
      <div class="option-box" data-filter="amount" style="background-image: url(./images/option4.jpg);">
        <div class="option-box-inner amount">
          <h2>Please select the amount range you can save!</h2>
          <rzslider rz-slider-model="amount_slider.minValue"
                    rz-slider-high="amount_slider.maxValue"
                    rz-slider-options="amount_slider.options">
          </rzslider>
        </div>
      </div>
      <div class="option-box" data-filter="car" style="background-image: url(./images/Car-logos.jpg);">
        <div class="option-box-inner car-select">
          <h2 class="bottom-margin"><button class="btn btn-car-list" type="button" data-toggle="modal" data-target="#carListModal"><span class="btn btn-default">Click here to select brands and model</span></button></h2>
        </div>
      </div>
      <button class="btn btn-default btn-search"><i class="fa fa-search"></i>Search for cars</button>
    </section>
    <section class="results option-filters">
      <div class="container">
        <div class="row car-results">
          <div class="col-sm-3 col-lg-2 left-filters">
            <div class="">
              <span class="left-nav-toggle">Refine</span>
              <div class="left-filters-inner">
                <i class="fa fa-close close-left-nav"></i>
                <h4 class="filters-heading">
                  Refine Search
                  <span class="refine-all open" ng-if="open_all_flag" ng-click="closeAll()">
                    Close All
                  </span>
                  <span class="refine-all open" ng-if="!open_all_flag" ng-click="openAll()">
                    Open All
                  </span>
                </h4>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!price_slide_hide_flag" ng-click="price_slide_hide()"></i>
                    <i class="fa fa-plus" ng-if="price_slide_hide_flag" ng-click="price_slide_hide()"></i>
                    Price Range
                  </span>
                  <div class="filter-items amount" ng-if="!price_slide_hide_flag">
                    <rzslider rz-slider-model="price_slider.minValue"
                              rz-slider-high="price_slider.maxValue"
                              rz-slider-options="price_slider.options">
                    </rzslider>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!time_slide_hide_flag" ng-click="time_slide_hide()"></i>
                    <i class="fa fa-plus" ng-if="time_slide_hide_flag" ng-click="time_slide_hide()"></i>
                    Time Range
                  </span>
                  <div class="filter-items" ng-if="!time_slide_hide_flag">
                    <rzslider rz-slider-model="time_slider.minValue"
                              rz-slider-high="time_slider.maxValue"
                              rz-slider-options="time_slider.options">
                    </rzslider>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!car_model_hide_flag" ng-click="car_model_hide()"></i>
                    <i class="fa fa-plus" ng-if="car_model_hide_flag" ng-click="car_model_hide()"></i>
                    Car Models
                  </span>
                  <div class="filter-items" ng-if="!car_model_hide_flag">
                    <div class="checkbox" ng-repeat="model in car_model.slice(0, car_model_count)">
                      <label>
                        <input type="checkbox">{{model.model}}
                      </label>
                      <span class="average-cost">${{model.price}}</span>
                    </div>
                    <button class="btn btn-default btn-more" ng-click="moreCarModel()">
                      <span ng-if="moreCarModel_flag">Less</span>
                      <span ng-if="!moreCarModel_flag">More</span>
                    </button>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!warranty_hide_flag" ng-click="warranty_hide()"></i>
                    <i class="fa fa-plus" ng-if="warranty_hide_flag" ng-click="warranty_hide()"></i>
                    Status and Warranty
                  </span>
                  <div class="filter-items" ng-if="!warranty_hide_flag">
                    <div class="checkbox" ng-repeat="item in warranty">
                      <label>
                        <input type="checkbox">{{item.method}}
                      </label>
                      <span class="average-cost">${{item.price}}</span>
                    </div>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!car_type_hide_flag" ng-click="car_type_hide()"></i>
                    <i class="fa fa-plus" ng-if="car_type_hide_flag" ng-click="car_type_hide()"></i>
                    Car Types
                  </span>
                  <div class="filter-items" ng-if="!car_type_hide_flag">
                    <div class="checkbox" ng-repeat="item in car_type">
                      <label>
                        <input type="checkbox">{{item.type}}
                      </label>
                      <span class="average-cost">${{item.price}}</span>
                    </div>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!driving_type_hide_flag" ng-click="driving_type_hide()"></i>
                    <i class="fa fa-plus" ng-if="driving_type_hide_flag" ng-click="driving_type_hide()"></i>
                    Driving Type
                  </span>
                  <div class="filter-items" ng-if="!driving_type_hide_flag">
                    <div class="checkbox" ng-repeat="item in driving_type">
                      <label>
                        <input type="checkbox">{{item.type}}
                      </label>
                      <span class="average-cost">${{item.price}}</span>
                    </div>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!fuel_option_hide_flag" ng-click="fuel_option_hide()"></i>
                    <i class="fa fa-plus" ng-if="fuel_option_hide_flag" ng-click="fuel_option_hide()"></i>
                    Fuel Options
                  </span>
                  <div class="filter-items" ng-if="!fuel_option_hide_flag">
                    <div class="checkbox" ng-repeat="item in fuel_option">
                      <label>
                        <input type="checkbox">{{item.type}}
                      </label>
                      <span class="average-cost">${{item.price}}</span>
                    </div>
                    <span class="filter-subtitle">MPG Highway</span>
                    <rzslider rz-slider-model="highway_slider.minValue"
                              rz-slider-high="highway_slider.maxValue"
                              rz-slider-options="highway_slider.options">
                    </rzslider>
                    <span class="filter-subtitle">MPG City</span>
                    <rzslider rz-slider-model="city_slider.minValue"
                              rz-slider-high="city_slider.maxValue"
                              rz-slider-options="city_slider.options">
                    </rzslider>
                    <span class="filter-subtitle">MPG Combined</span>
                    <rzslider rz-slider-model="combined_slider.minValue"
                              rz-slider-high="combined_slider.maxValue"
                              rz-slider-options="combined_slider.options">
                    </rzslider>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!cylinders_hide_flag" ng-click="cylinders_hide()"></i>
                    <i class="fa fa-plus" ng-if="cylinders_hide_flag" ng-click="cylinders_hide()"></i>
                    Cylinders
                  </span>
                  <div class="filter-items" ng-if="!cylinders_hide_flag">
                    <div class="checkbox" ng-repeat="item in cylinders">
                      <label>
                        <input type="checkbox">{{item.type}}
                      </label>
                      <span class="average-cost">${{item.price}}</span>
                    </div>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!transmistion_type_hide_flag" ng-click="transmistion_type_hide()"></i>
                    <i class="fa fa-plus" ng-if="transmistion_type_hide_flag" ng-click="transmistion_type_hide()"></i>
                    Transmistion Type
                  </span>
                  <div class="filter-items" ng-if="!transmistion_type_hide_flag">
                    <div class="checkbox" ng-repeat="item in transmistion_type">
                      <label>
                        <input type="checkbox">{{item.type}}
                      </label>
                      <span class="average-cost">${{item.price}}</span>
                    </div>
                  </div>
                </div>
                <div class="filter-inner">
                  <span class="filter-title">
                    <i class="fa fa-minus" ng-if="!transmistion_gears_hide_flag" ng-click="transmistion_gears_hide()"></i>
                    <i class="fa fa-plus" ng-if="transmistion_gears_hide_flag" ng-click="transmistion_gears_hide()"></i>
                    Transmistion Gears
                  </span>
                  <div class="filter-items" ng-if="!transmistion_gears_hide_flag">
                    <div class="checkbox" ng-repeat="item in transmistion_gears">
                      <label>
                        <input type="checkbox">{{item.type}}
                      </label>
                      <span class="average-cost">${{item.price}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-9 col-lg-10 car-result-inner">
            <div class="cars-found-sort-by clearfix">
              <h3 class="found-result">345 Cars Found</h3>
              <a href="#/" class="grid-change"><i class="fa fa-list"></i></a>
              <div class="page-limit">
                <span class="title">Page Size:</span>
                <select class="page_limit_selector">
                  <option>12</option>
                  <option>24</option>
                  <option>36</option>
                  <option>48</option>
                  <option>60</option>
                </select>
              </div>
            </div>
            <div class="pagination-wrapper cars-found-sort-by clearfix">
              <div class="sorting">
                <ul class="clearfix">
                  <li class="active"><a href="#/">Low Price</a></li>
                  <li><a href="#/">High Price</a></li>
                  <li><a href="#/">Year</a></li>
                  <li class="hidden-xs"><a href="#/">Car Type</a></li>
                  <li class="hidden-xs"><a href="#/">Newly Added</a></li>
                </ul>
              </div>
              <div class="pagination">
                <a href="#/">Prev</a>
                <a href="#/">1</a>
                <a class="active" href="#/">2</a>
                <a href="#/">3</a>
                <span>...</span>
                <a href="#/">235</a>
                <a href="#/">Next</a>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-4 col-sm-6 col-xs-12" ng-repeat="item in car_item">
                <div class="car-item">
                  <a href="#/">
                    <h3 class="title">{{item.title}}</h3>
                    <img class="img-reponsive" src="./images/car-small.jpg" alt="">
                    <div class="table-responsive">
                      <table class="table">
                        <tbody>
                        <tr>
                          <td>Duration:</td>
                          <td>{{item.duration}}</td>
                        </tr>
                        <tr>
                          <td>Down Payments:</td>
                          <td>{{item.down_payments}}</td>
                        </tr>
                        <tr>
                          <td>Installment:</td>
                          <td>{{item.installment}}</td>
                        </tr>
                        <tr>
                          <td>Starting From:</td>
                          <td class="big-price">
                            <span>{{item.starting_from}}</span>
                            <p>Plus Sales Tax</p>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </a>
                  <div class="car-buttons">
                    <button class="btn btn-default">View Details</button>
                    <button class="cart-button btn btn-default">Add to Cart</button>
                  </div>
                  <div class="checkbox compare-check">
                    <label>
                      <input type="checkbox"> Select to Compare
                    </label>
                  </div>
                </div>
              </div>
              <div class="pagination-wrapper cars-found-sort-by clearfix">
                <div class="pagination">
                  <a href="#/">Prev</a>
                  <a href="#/">1</a>
                  <a class="active" href="#/">2</a>
                  <a href="#/">3</a>
                  <span>...</span>
                  <a href="#/">235</a>
                  <a href="#/">Next</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3>Something</h3>
          <ul>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Something</h3>
          <ul>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h3>Something</h3>
          <ul>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
            <li><a href="#/">Something else</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container clearfix">
      <div class="footer-nav">
        <ul class="clearfix">
          <li><a href="#/">About Us</a></li>
          <li><a href="#/">Legal</a></li>
          <li><a href="#/">Terms &amp; Conditions</a></li>
          <li><a href="#/">Privacy Policy</a></li>
        </ul>
      </div>
      <div class="social">
        <a href="#/"><i class="fa fa-facebook-square"></i></a>
        <a href="#/"><i class="fa fa-twitter-square"></i></a>
      </div>
    </div>
  </footer>
</div>
